{{define "message"}}
New Reward available for <a href="{{.Campaign.FullUrl}}">{{.Campaign.Name}}</a>:

<a href="{{.Reward.FullUrl}}"><b>{{.Reward.Title}}</b></a>
for <b>{{.Reward.FormattedAmount}}</b>

(ID <code>{{.Reward.Id}}</code>)
{{end}}